.g-folder-list-experiments
	ul.g-folder-list(style='padding: 0px;list-style-type: none;')
		each folder in folders
			li.SAIP-folder-list-entry(style='font-size: 15px;border-top: 1px solid #efefef;box-sizing: border-box;padding: 4px 5px 3px;')
				//- if parentCheckboxFlag
				//- 	input.SAIP-list-checkbox-experiments(style='margin-right: 7px;',type="checkbox", s-experiment-id=folder.id,s-type='experiment' checked)
				//- else
				//- 	input.SAIP-list-checkbox-experiments(style='margin-right: 7px;',type="checkbox", s-experiment-id=folder.id,s-type='experiment')
				a.SAIP-folder-list-link-experiments(name=folder.title,exp-id=folder.id)
					i.icon-folder
					= folder.title
					i.icon-right-dir
