.g-folder-list-projects
	ul.g-folder-list(style='padding: 0px;list-style-type: none;')
		each folder in folders
			li.SAIP-folder-list-entry(style='font-size: 15px;border-top: 1px solid #efefef;box-sizing: border-box;padding: 4px 5px 3px;')
				//- input.SAIP-list-checkbox-projects(style='margin-right: 7px;',type="checkbox", s-project-id=folder.id,s-type='project')
				a.SAIP-folder-list-link-projects(pro-id=folder.id,name=folder.name)
					i.icon-folder
					= folder.name
					i.icon-right-dir
.g-folder-list-experiments
.g-folder-list-patients
.g-folder-list-studies
.g-folder-list-series