ul.g-folder-list(style='padding: 0px;list-style-type: none;')
	each folder in folders
		li.SAIP-folder-list-entry(style='font-size: 15px;border-top: 1px solid #efefef;box-sizing: border-box;padding: 4px 5px 3px;')
			//- if parentCheckboxFlag
			//- 	input.SAIP-list-checkbox-series(style='margin-right: 7px;',type="checkbox", s-series-id=folder.id,s-type='series' checked)
			//- else
			//- 	input.SAIP-list-checkbox-series(style='margin-right: 7px;',type="checkbox", s-series-id=folder.id,s-type='series')
			a.SAIP-folder-list-link-series(series-id=folder.series_uid, series_path=folder.series_path)
				i.icon-doc-text-inv
				= folder.series_description
				i.icon-right-dir
			.modality(style='float:right')
				= folder.modality